@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
* {
  font-family: 'Chakra Petch', sans-serif;
}

#navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
  border: 3px solid black;
}
#navicon {
  height: 95%;
  width: auto;
}
#logo {
  display: flex;
  flex-direction: row;
}
#search-form {
  display: flex;
  flex-direction: row;
}
#search-title {
  justify-self: center;
  margin-right: 10px;
}

#search-input {
  margin-top: 23px;
}
#search-bar {
  margin-right: 5px;
  border: 2px solid black;
}
#submit-button {
  border-style: none;
  font-weight: bolder;
  background-color: inherit;
  font-size: 25px;
}
#landing {
  display: flex;
  height: 500px;
  justify-content: space-around;
}
#homecook-landing-image {
  height: 80%;
}
#logo-landing-image {
  height: 80%;
}
#restaurant-landing-image {
  height: 80%;
}
